<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ msg }}
    <form method="POST">
Shirt ( 100 Rs) <input type="number" name="shirt">
pant( 200 Rs)  <input type="number" name = "pant">
trouser( 150 rs) <input type="number" name="trouser">
<input type="submit" value = "submit">
    </form>
</body>
</html>