<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ msg }}
    <br>
    Balance is {{ balance}}
    <br>
    <form method="POST" action="{{url_for('index')}}" id="atm" >
        <input type="number" name = "amount">
        <input type="submit" name = "action" value = "deposit" onclick=" return validate()">
        <input type="submit" name = "action" value = "withdraw" onclick="return validate()">

    </form>


    
</body>
<script>
    function validate(){
        var form = document.getElementById("atm")
        var amount = form.amount.value
        if(amount == ""){
            alert("amount is required")
            return false
        }
        if(parseInt(amount)<0){
            alert("Amount cannot be negative")
            return false
        }
        else if(parseInt(amount) > 5000){
            alert("Maximum transaction limit is 5000")
            return false
        }
        return true 
    }
</script>
</html>